<%= link_to 'Į sąrašą', items_path, :class => "btn btn-default btn-sm" %>
<%= link_to 'Parodyti', @item, :class => "btn btn-default btn-sm" %>

<h2>Redaguojam <%=@item.name %></h2>

<%= render 'form' %>
